body {
    font-family: Arial;
    background-color: rgb(255, 255, 255);
    text-align: center;

    background-image: url("pexels-622177503-33397171.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


header {
    background-color: #4d8cdf;
    color: white;
    padding: 15px;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}
